#navi-link {
    color: white;
}

#magic-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background: #8ee4ec;
}

.sell-a-phone,
.buy-a-phone {
    background: linear-gradient( rgb(255, 255, 255), rgb(231, 245, 243));
}

.valuation {
    margin-top: 40px;
}

#fset-titles {
    margin-top: 30px;
    margin-bottom: 60px;
    color: #07454C;
}

#slvalue {
    display: none;
}

.collection {
    color: rgb(158, 34, 34);
}

.deduct {
    font-size: 20px;
    font-weight: bold;
    color: #07454C;
}

.our-fees {
    color: rgb(158, 34, 34);
}

.cust-pay {
    font-size: 50px;
    font-weight: bold;
    color: rgb(46, 148, 71);
}

.customer-pay {
    margin-top: 25px;
    margin-bottom: -15px;
    font-size: 30px;
    font-weight: bold;
    color: #07454C;
}

#wlcm-ttl {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #07454C;
}

.sell-brand-selector,
.buy-brand-selector {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

#nopad {
    display: inline-block;
    cursor: pointer;
}

.wizard-buttons {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#btn-uls {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sell-phone-title,
#buy-phone-title {
    text-align: center;
    color: #07454C;
}

.smlr-uls {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ws-description {
    color: rgb(141, 159, 161);
}

.popover {
    background: rgb(250, 178, 166);
}

.arrow::after,
.bs-popover-top .arrow::after {
    bottom: 1px;
    border-top-color: rgb(250, 178, 166);
}

.sell-button,
.buy-button {
    margin-bottom: 25px;
}

.btn-sellval,
.btn-buyval {
    text-align: center;
}

.btn-sellval:before,
.btn-buyval:before {
    border-radius: 100px;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 110px;
    width: 110px;
    margin-left: -57px;
    margin-top: -57px;
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.btn-sellval:hover:before,
.btn-buyval:hover:before {
    transform: scale(1.05);
}

.btn-sellval,
.btn-buyval {
    background: #07454C;
    border: none;
    border-radius: 900px;
    color: #e4ecfa;
    cursor: pointer;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: relative;
    margin: auto;
    margin-top: 25px;
    transition: 0.5s;
}

.btn-sellval:hover,
.btn-buyval:hover {
    background: rgb(0, 0, 0);
}

.sell-btn-ico:hover,
.buy-btn-ico:hover {
    display: none;
}

.btn-sellval:focus,
.btn-buyval:focus {
    outline: none;
}

#d-wrapper {
    margin-bottom: -40px;
}

#FAQ {
    margin: 20px;
    color: #fff;
    text-decoration: none;
}

.footer-payments {
    margin: 0 0 20px 0;
}

#smedia-icos {
    margin: 20px;
}

#pymt-icos {
    margin: 0 20px;
}

.footer-social {
    color: #fff;
    margin: 0 0 40px 0;
}

.copyrgt {
    font-size: 16px;
    color: #fff;
    margin-bottom: -20px;
    padding-bottom: 20px;
}