// Variable overrides
$theme-colors: ( "primary": #07454C);
// Bootstrap sass files
@import "node_modules/bootstrap/scss/bootstrap";
// Media overrides
@media (max-width: 978px) {
    .container {
        padding: 0;
        margin: auto;
    }
    body {
        padding: 0;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.btn:focus {
    outline: none;
}

// Hide avatar on small displays
@media (max-width: 992px) {
    .avatar {
        display: none;
    }
}

// Include Login and Register in dropdownmenu for smaller devices
@media (min-width: 992px) {
    .avatar-menu {
        display: none;
    }
}

// Do not diplay large banner in small devices
@media (max-width: 767px) {
    .big-logo {
        display: none;
    }
    .owl-nav {
        display: none;
    }
    .card {
        margin-bottom: 20px;
    }
    .owl-dots {
        display: none;
    }
    .owl-smd {
        margin-left: -40px;
    }
    .banner-lg {
        display: none;
    }
    .wizards-lg {
        display: none;
    }
    .how-it-works-lg {
        display: none;
    }
    .banner-sm {
        padding: 15px;
        /* Global Button Styles */
        a.animated-button:link,
        a.animated-button:visited {
            position: relative;
            display: block;
            margin: 30px auto 0;
            padding: 14px 15px;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            letter-spacing: .08em;
            border-radius: 0;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
        }
        a.animated-button:link:after,
        a.animated-button:visited:after {
            content: "";
            position: absolute;
            height: 0%;
            left: 50%;
            top: 50%;
            width: 150%;
            z-index: -1;
            -webkit-transition: all 0.75s ease 0s;
            -moz-transition: all 0.75s ease 0s;
            -o-transition: all 0.75s ease 0s;
            transition: all 0.75s ease 0s;
        }
        a.animated-button:link:hover,
        a.animated-button:visited:hover {
            color: #07454C;
            text-shadow: none;
        }
        a.animated-button:link:hover:after,
        a.animated-button:visited:hover:after {
            height: 450%;
        }
        a.animated-button:link,
        a.animated-button:visited {
            position: relative;
            display: block;
            margin: 30px auto 0;
            padding: 14px 15px;
            color: #07454C;
            font-size: 14px;
            border-radius: 0;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            letter-spacing: .08em;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
        }
        /* Victoria Buttons */
        a.animated-button.victoria-one {
            border: 2px solid #07454C;
        }
        a.animated-button.victoria-one:after {
            background: #07454C;
            -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        }
        a.animated-button.victoria-two {
            border: 2px solid #07454C;
        }
        a.animated-button.victoria-two:after {
            background: #07454C;
            -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
            transform: translateX(-50%) translateY(-50%) rotate(25deg);
        }
    }
}

@media (max-width: 450px) {
    .mbf label {
        font-size: 14px;
    }
    .owl-nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .owl-dots {
        display: none;
    }
    .owl-smd {
        margin-left: -10px;
    }
    .tenje-brand {
        border: 2px solid rgb(177, 187, 187);
    }
    .br-hua {
        height: 120px;
        margin-left: 3px;
        margin-right: 3px;
        display: block;
    }
    .br-iph {
        height: 120px;
        margin-left: 3px;
        margin-right: 3px;
        display: block;
    }
    .br-sam {
        height: 120px;
        margin-left: 3px;
        margin-right: 3px;
        display: block;
    }
}

@media (min-width: 450px) {
    .br-hua {
        height: 160px;
        margin-left: 6px;
        margin-right: 6px;
        display: block;
    }
    .br-iph {
        height: 160px;
        margin-left: 6px;
        margin-right: 6px;
        display: block;
    }
    .br-sam {
        height: 160px;
        margin-left: 12px;
        margin-right: 12px;
        display: block;
    }
    .tenje-brand {
        border: 2px solid rgb(177, 187, 187);
        padding: 12px;
        margin: 10px;
    }
}

@media (min-width: 767px) {
    .small-logo {
        display: none;
    }
    .owl-dots {
        display: none;
    }
    .owl-prev {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 20%;
        left: -50px;
        display: block;
        border: 0px solid black;
        outline: none;
    }
    .owl-prev:focus {
        outline: none;
    }
    .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 20%;
        right: 0;
        display: block;
        border: 0px solid black;
        outline: none;
    }
    .owl-next:focus {
        outline: none;
    }
    .owl-prev i,
    .owl-next i {
        font-size: 30px;
        color: #07454C;
    }
    .owl-prev i:hover,
    .owl-next i:hover {
        font-size: 30px;
        background-color: none;
    }
    .banner-lg {
        position: relative;
    }
    //Do not display small banner content to large devices
    .banner-sm {
        display: none;
    }
    .wizards-sm {
        display: none;
    }
    .how-it-works-sm {
        display: none;
    }
    .text-block {
        position: absolute;
        top: 40px;
        left: 20px;
        float: left;
    }
    .banner-iphone {
        position: absolute;
        top: 25px;
        right: 30px;
        width: 40%;
        height: auto;
    }
    .banner-buttons {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
}

// Banner display settings
// Banner settings for large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .banner-iphone {
        position: absolute;
        top: 25px;
        right: 35px;
        width: 40%;
        height: auto;
    }
    .text-block h3 {
        font-size: 40px;
    }
    .text-block p {
        font-size: 20px;
    }
}

// Banner settings for extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .banner-iphone {
        position: absolute;
        top: 25px;
        right: 65px;
        width: 40%;
        height: auto;
    }
    .text-block h3 {
        font-size: 30px;
    }
    .text-block p {
        font-size: 20px;
    }
    .img-mode {
        width: 450px;
        height: 450px;
    }
}

//Weekly offers stars background
.weekly-offers {
    background: linear-gradient(324deg, #fff 4%, transparent 4%) -70px 43px, linear-gradient( 36deg, #fff 4%, transparent 4%) 30px 43px, linear-gradient( 72deg, rgb(199, 226, 230) 8.5%, transparent 8.5%) 30px 43px, linear-gradient(288deg, rgb(199, 226, 230) 8.5%, transparent 8.5%) -70px 43px, linear-gradient(216deg, rgb(199, 226, 230) 7.5%, transparent 7.5%) -70px 23px, linear-gradient(144deg, rgb(199, 226, 230) 7.5%, transparent 7.5%) 30px 23px, linear-gradient(324deg, #fff 4%, transparent 4%) -20px 93px, linear-gradient( 36deg, #fff 4%, transparent 4%) 80px 93px, linear-gradient( 72deg, rgb(199, 226, 230) 8.5%, transparent 8.5%) 80px 93px, linear-gradient(288deg, rgb(199, 226, 230) 8.5%, transparent 8.5%) -20px 93px, linear-gradient(216deg, rgb(199, 226, 230) 7.5%, transparent 7.5%) -20px 73px, linear-gradient(144deg, rgb(199, 226, 230) 7.5%, transparent 7.5%) 80px 73px;
    background-color: #fff;
    background-size: 100px 100px;
}

// footer bg
.futa {
    background-color: #07454C;
}

// Text hover zoom-fade effect
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin textShadow($text-shadow) {
    -webkit-text-shadow: $text-shadow;
    -moz-text-shadow: $text-shadow;
    -ms-text-shadow: $text-shadow;
    -o-text-shadow: $text-shadow;
    text-shadow: $text-shadow;
}

@mixin boxShadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin NoUserSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slide-up {
    @include transition(.25s ease-in-out);
    @include textShadow(0 30px 0px transparent);
    color: white;
    overflow: visible;
    &:hover {
        @include textShadow(0 0px 0px white);
    }
}

.zig-zag-top hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(77, 77, 77);
    margin: 1em 0;
    padding: 0;
}

.tenje-brand:hover {
    border: 2px solid #9ED5D7;
    background: #F0F7F7;
    background-color: rgba(255, 255, 255, 0.5);
}

html {
    min-width: 320px;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.shadowed {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.btn-banner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #07454c;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #07454c 2px;
    text-decoration: none;
}

.btn-banner:hover {
    background: #c8fae4;
    background-image: -webkit-linear-gradient(top, #c8fae4, #90ebc2);
    background-image: -moz-linear-gradient(top, #c8fae4, #90ebc2);
    background-image: -ms-linear-gradient(top, #c8fae4, #90ebc2);
    background-image: -o-linear-gradient(top, #c8fae4, #90ebc2);
    background-image: linear-gradient(to bottom, #c8fae4, #90ebc2);
    text-decoration: none;
}